*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.card{
    width:90%;
    max-width:700px;
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(12px);
    border-radius:20px;
    padding:35px;
    text-align:center;
    box-shadow:0 0 30px rgba(0,255,255,.25);
}

h1{
    color:#00e5ff;
    margin-bottom:10px;
    font-size:36px;
}

h3{
    color:#ffb703;
    margin-bottom:25px;
}

input{
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    font-size:16px;
    outline:none;
    margin-bottom:20px;
}

button{
    padding:12px 25px;
    border:none;
    border-radius:10px;
    margin:8px;
    font-size:16px;
    cursor:pointer;
    color:white;
    background:linear-gradient(45deg,#6a11cb,#2575fc);
    transition:.3s;
}

button:hover{
    transform:scale(1.08);
    box-shadow:0 0 15px #00e5ff;
}

.output{
    margin-top:25px;
    background:#111827;
    color:#00ff99;
    border-radius:12px;
    padding:20px;
    text-align:left;
    overflow:auto;
}

pre{
    white-space:pre-wrap;
    word-wrap:break-word;
    font-size:15px;
}

.footer{
    margin-top:25px;
    color:white;
    font-size:15px;
}

.footer span{
    color:#ff4da6;
    font-weight:bold;
}